CBHS Robotics CRASAS V5.json
{
  "name": "CBHS Robotics CRASAS V5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        64
      ],
      "id": "f8d32893-3638-4d66-a28c-78fe5fc7311c",
      "notes": "Runs every Monday 7am. Or trigger manually."
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "VEX V5 Robotics "
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "publishedAfter",
              "value": "={{$now.minus({days: 7}).toISO()}}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "key",
              "value": "=YOUR_YOUTUBE_DATA_KEY"
            },
            {
              "name": "minResults",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "name": "YouTube Search – VEX V5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "id": "3d8eaea4-fc09-4d56-91b0-1450a43e53f3"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "VEX Robotics Competition 2026 2027 "
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "publishedAfter",
              "value": "={{$now.minus({days: 21}).toISO()}}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "key",
              "value": "=YOUR_YOUTUBE_DATA_KEY"
            },
            {
              "name": "minResults",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "name": "YouTube Search – VEX Competition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        160
      ],
      "id": "5cad2565-fdf4-4078-a151-d3ba902ea8a5"
    },
    {
      "parameters": {},
      "name": "Merge Search Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        240,
        80
      ],
      "id": "5edd162a-8bc6-44e5-9435-97ea997ac974"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst videos = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (!data.items) continue;\n  for (const v of data.items) {\n    const id = v.id?.videoId;\n    if (!id || seen.has(id)) continue;\n    const liveStatus = v.snippet?.liveBroadcastContent;\n    if (liveStatus === 'live' || liveStatus === 'upcoming') continue;\n    seen.add(id);\n    videos.push({\n      videoId: id,\n      title: v.snippet.title,\n      description: (v.snippet.description || '').slice(0, 400),\n      channelTitle: v.snippet.channelTitle,\n      publishedAt: v.snippet.publishedAt\n    });\n  }\n}\n\nreturn videos.map(v => ({ json: v }));"
      },
      "name": "Flatten & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        80
      ],
      "id": "23e67de0-a5f3-46e2-aa79-7d42008fc9d1"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics,contentDetails"
            },
            {
              "name": "id",
              "value": "={{$json.videoId}}"
            },
            {
              "name": "key",
              "value": "YOUR_YOUTUBE_DATA_KEY"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Video Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        688,
        80
      ],
      "id": "b39038c6-b0fc-4350-bc00-1613734af695"
    },
    {
      "parameters": {
        "jsCode": "const allStats = $input.all();\nconst allMeta = $('Flatten & Deduplicate').all();\n\nreturn allStats.map(item => {\n  const stats = item.json.items?.[0];\n  const videoId = stats?.id;\n  const meta = allMeta.find(i => i.json.videoId === videoId)?.json || {};\n\n  const dur = stats?.contentDetails?.duration || 'PT0S';\n  const match = dur.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  const seconds = (parseInt(match?.[1] || 0) * 3600) +\n                  (parseInt(match?.[2] || 0) * 60) +\n                  (parseInt(match?.[3] || 0));\n\n  return {\n    json: {\n      videoId: videoId || '',\n      title: meta.title || '',\n      description: meta.description || '',\n      channelTitle: meta.channelTitle || '',\n      publishedAt: meta.publishedAt || '',\n      viewCount: parseInt(stats?.statistics?.viewCount || 0),\n      likeCount: parseInt(stats?.statistics?.likeCount || 0),\n      duration: dur,\n      durationSeconds: seconds,\n      skipVideo: seconds > 1080 || seconds < 10\n    }\n  };\n});"
      },
      "name": "Merge Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        80
      ],
      "id": "67802a2d-fbb7-495a-955f-1e3a1b8df3b0",
      "notes": "Run Once for All Items. Flags videos over 18 min or under 10 sec as skipVideo."
    },
    {
      "parameters": {
        "jsCode": "const allVideos = $input.all().map(i => i.json);\nallVideos.sort((a, b) => b.viewCount - a.viewCount);\nconst apiKey = 'YOUR_GEMINI_API_KEY';\n\n//Change this to be relevant for the current game and describe it in-depth\nconst prompt = `You are analysing VEX V5 Robotics Competition footage for the 2026–2027 game Override. Your task is to produce an evidence-based technical analysis for competitive scouting. Accuracy is more important than completeness. Never invent mechanisms, robot capabilities, or game rules.\n\nVERIFIED GAME DESCRIPTION\nOverride is played on a 12x12 foot field. Two alliances of two teams compete in a 15-second Autonomous Period followed by a 1:45 Driver Controlled Period. Game objects are Pins (red/yellow, blue/yellow, or yellow/yellow) and Cups (clear or grey). Pins are nested inside Cups, and Cups are nested inside Goals.\nThere are 9 Goals: 2 Red, 2 Blue, 4 Short Neutral, and 1 Tall Neutral Goal located in the Midfield.\nThe field contains four Quadrants. Each Quadrant contains one Toggle on the Field Perimeter that determines ownership of Yellow Pins located in that Quadrant. The Midfield contains the Tall Neutral Goal. Yellow Pins in the Midfield are owned by whichever Alliance has more Robots in the Midfield at the end of the Match.\nScoring: Autonomous Bonus = 12pts; Alliance-coloured Pin half = 5pts when Placed; Owned Yellow Pin = 10pts; Robot ending in the Midfield = 8pts.\n\nCRITICAL RULE CONSTRAINTS & ANTI-HALLUCINATION\n- POSSESSION RULE: A Robot may legally possess at most ONE Pin and ONE Cup simultaneously. Do not describe designs that would require illegal simultaneous possession (e.g., \"dual-storage intake holding two Cups\" or \"internal Pin queues\").\n- NO UNSEEN MECHANISMS: Describe ONLY what is definitely present and visibly functioning. Never infer hidden internal gearing, hidden pneumatics, or sensor types.\n- If this footage shows rings, stakes, mobile goals, triballs, blocks, or VEX IQ robots, it is NOT Override.\n\nIf this is not Override 2026-2027 footage, respond with exactly: SKIP\n\nIf it IS Override footage, provide a dense technical caption of at least 400 words. \nThe first line of your response must be exactly: \"VIDEO TYPE: [Classification]\"\n\n(1) Video Classification: Classify the video into exactly ONE category based on priority: 1. Official Reveal / Rules, 2. CAD / Design Concept, 3. Prototype / Bench Testing, 4. Competition Footage.\n(2) Robot Mechanisms Visible: Drivetrain configuration, wheel type, Pin/Cup handling mechanism. Use strict evidence. GOOD: \"A roller intake is visible.\" BAD: \"Uses 6 motors\" (unless directly visible).\n(3) Scoring Object Handling: How the robot physically picks up, carries, and places Pins and Cups. Explicitly state if it handles one Pin, one Cup, or one of each legally.\n(4) Toggle Interaction: Does the robot interact with Toggles? How?\n(5) Autonomous/Driver Strategies: Zones targeted, Midfield engagement, defensive plays.\n\nBe brutally literal. Every claim must be grounded in what is visually verifiable. Do not truncate your response.`;\n\nconst pushBackSignals = [\n  /push.?back/i,\n  /pushback/i,\n];\n\nfunction titleSuggestsPushBack(title) {\n  return pushBackSignals.some(p => p.test(title));\n}\n\nasync function geminiRequest(helpers, url, body, maxRetries = 4) {\n  let delay = 5000;\n  for (let attempt = 0; attempt <= maxRetries; attempt++) {\n    try {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url,\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify(body)\n      });\n    } catch (e) {\n      const shouldRetry = e.message.includes('503') || e.message.includes('429');\n      if (shouldRetry && attempt < maxRetries) {\n        await new Promise(r => setTimeout(r, delay));\n        delay *= 2;\n        continue;\n      }\n      throw e;\n    }\n  }\n}\n\nconst results = [];\nlet callCount = 0;\n\nfor (let i = 0; i < allVideos.length; i++) {\n  const video = allVideos[i];\n\n  if (video.skipVideo) {\n    results.push({ json: { ...video, visionCaption: 'SKIPPED: too long or too short.' } });\n    continue;\n  }\n\n  if (callCount >= 10) {\n    results.push({ json: { ...video, visionCaption: 'Not analysed — outside top 10.' } });\n    continue;\n  }\n\n  if (callCount > 0) await new Promise(r => setTimeout(r, 2000));\n\n  try {\n    const response = await geminiRequest(\n      this.helpers,\n      `https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=${apiKey}`,\n      {\n        contents: [{\n          parts: [\n            {\n              fileData: {\n                fileUri: `https://www.youtube.com/watch?v=${video.videoId}`,\n                mimeType: 'video/mp4'\n              }\n            },\n            {\n              text: prompt + `\\n\\nTitle: ${video.title}\\nDescription: ${video.description}`\n            }\n          ]\n        }],\n        generationConfig: {\n          temperature: 0.2,\n          maxOutputTokens: 8192\n        }\n      }\n    );\n\n    const caption = response?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || 'No caption returned.';\n    const isSkip = caption === 'SKIP' || caption.toUpperCase().startsWith('SKIP');\n    const forcedByTitle = titleSuggestsPushBack(video.title);\n\n//Filtering depending on game\n    if (isSkip && !forcedByTitle) {\n      //Wrong game\n      results.push({ json: { ...video, visionCaption: 'SKIPPED: Gemini confirmed wrong game.' } });\n      continue;\n    }\n\n    if (isSkip && forcedByTitle) {\n      //Gemini says skip but force because title includes string\n      results.push({ json: { ...video, visionCaption: `NOTE: Gemini returned SKIP despite Push Back title — may be a reveal/teaser without gameplay. Title: ${video.title}` } });\n      callCount++;\n      continue;\n    }\n\n    results.push({ json: { ...video, visionCaption: caption } });\n    callCount++;\n\n  } catch (e) {\n    results.push({ json: { ...video, visionCaption: `Gemini error: ${e.message.slice(0, 200)}` } });\n    callCount++;\n  }\n}\n\nreturn results;"
      },
      "name": "Gemini Vision Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "id": "0bc3bad4-e917-4531-b205-adcb458b1abd",
      "notes": "Calls Gemini with the YouTube URL directly. No download needed. Skips videos flagged as too long/short."
    },
    {
      "parameters": {
        "jsCode": "const videoList = $input.first().json.videoList;\nconst apiKey = 'YOUR_GEMINI_API_KEY';\n\n//Always make sure to update your prompt depending on the game, as otherwise data in the final report may include stuff from older games\nconst systemPrompt = 'You are an expert VEX V5 Override analyst writing weekly intelligence reports for a highly competitive team[cite: 234]. Your objective is to identify genuine competitive trends while remaining completely evidence-based[cite: 235]. Override (2026-2027) involves two alliances stacking Pins into Cups and Goals[cite: 236]. There are 9 Goals, 4 Toggles dictating Quadrant Pin ownership, and a contested Midfield[cite: 237]. CRITICAL DIRECTIVES:1. VIDEO PRIORITY: Treat evidence using this priority: Reveal/CAD > Prototype > Competition Footage[cite: 238]. Do not treat CAD concepts as proven competitive designs. Do not treat prototypes as validated match strategies[cite: 239].2. STRICT POSSESSION LIMIT: Robots may possess a maximum of ONE Pin and ONE Cup at a time[cite: 240]. Reject and do not report any data suggesting storage systems that exceed legal possession unless the video explicitly discusses a legal interpretation from the Game Manual[cite: 241].3. NO EXTERNAL KNOWLEDGE: You must ONLY analyze and aggregate the information explicitly provided in the users \"Videos from this week\" data[cite: 242]. The Vision Analysis field is your primary source[cite: 243]. 4. EVIDENCE RULES: Every technical claim must be supported by at least one specific video[cite: 244]. If a claim is only demonstrated in CAD or on a workbench, say so[cite: 245]. Do not fill gaps with speculation. If evidence is insufficient, state \"Insufficient data this week.\" [cite: 246] 5. CITATIONS: Every single claim must cite the exact VIDEO_ID provided in the input text[cite: 247].';\n\nconst userPrompt = `Videos from this week:\\n\\n${videoList}\\n\\n\n\nWrite a brutally specific weekly meta report in GitHub-flavoured Markdown based STRICTLY on the provided video list[cite: 248]. Output the report body only — no title, no date header, no preamble[cite: 249]. Start directly with the Table of Contents, then the sections[cite: 250].\n\nUse this exact Table of Contents block at the very top:\n\n## Contents\n- [Executive Summary](#1-executive-summary)\n- [Mechanism Analysis](#2-mechanism-analysis)\n- [Autonomous Routine Trends](#3-autonomous-routine-trends)\n- [Driver Control Tactics](#4-driver-control-tactics)\n- [High-Value Teams and Channels](#5-high-value-teams-and-channels)\n- [Novelty Flags](#6-novelty-flags)\n- [Recommended Watch List](#7-recommended-watch-list)\n- [Meta Trajectory](#8-meta-trajectory)\n\nThen write each section with these exact headings:\n## 1. Executive Summary\n## 2. Mechanism Analysis\n## 3. Autonomous Routine Trends\n## 4. Driver Control Tactics\n## 5. High-Value Teams and Channels\n## 6. Novelty Flags\n## 7. Recommended Watch List\n## 8. Meta Trajectory\n\n### Section content requirements:\n\n**1. Executive Summary** (4-6 sentences)\nWhat shifted in the meta this week based ONLY on the provided videos? [cite: 251] What is the dominant mechanical story seen in the data? Differentiate clearly between what is Observed, Shown in CAD, or Prototype capability[cite: 252].\n\n**2. Mechanism Analysis**\nFor each notable mechanism observed in the data, specify:\n- Exact mechanism type and configuration[cite: 253].\n- Which video(s) demonstrate it — cite the YouTube video ID exactly as shown in the VIDEO_ID tag for each video[cite: 254].\n- Verified Pin/Cup capacity (ensuring it adheres to the 1 Pin/1 Cup rule)[cite: 255].\n- Competitive advantage[cite: 255].\n\n**3. Autonomous Routine Trends**\nSpecific autonomous paths observed in the data. Which Goals and Quadrants are prioritized? [cite: 256] Name the teams/channels demonstrating it (must exist in the provided data)[cite: 257].\n\n**4. Driver Control Tactics**\nSpecific strategies observed during Driver Control. Toggle flipping tactics, stack-building patterns, Midfield endgame execution[cite: 258]. Name specific video IDs[cite: 259].\n\n**5. High-Value Teams and Channels**\nList channels from the data producing high-level technical content[cite: 259]. Include specific video titles and why they matter[cite: 260].\n\n**6. Novelty Flags**\nMechanisms or strategies seen this week that stand out[cite: 260]. If nothing is novel in the provided data, state \"No novel mechanisms observed this week.\" [cite: 261]\n\n**7. Recommended Watch List**\nSelect up to 5 videos from the provided data[cite: 262]. For each: full title, channel, and a single specific sentence explaining the insight it provides[cite: 263].\n\n**8. Meta Trajectory**\nOne paragraph: Based strictly on this week's aggregated footage, where is the Override meta heading? [cite: 264]`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=${apiKey}`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      system_instruction: { parts: [{ text: systemPrompt }] },\n      contents: [{ parts: [{ text: userPrompt }] }],\n      generationConfig: { temperature: 0.3, maxOutputTokens: 8192 }\n    })\n  });\n\n  const analysis = response?.candidates?.[0]?.content?.parts?.[0]?.text || 'Error: no response from Gemini.';\n  return [{ json: { ...($input.first().json), analysis } }];\n\n} catch (e) {\n  return [{ json: { ...($input.first().json), analysis: `Gemini error: ${e.message.slice(0, 300)}` } }];\n}"
      },
      "name": "Prompt and Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        320
      ],
      "id": "a1e2b9cc-4672-41c2-900c-70272fda602a",
      "notes": "Now uses Gemini Flash for report generation instead of local llama-server."
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst report = raw.analysis || 'Error: no response from model';\nconst weekOf = $('Aggregate').item.json.weekOf;\n\nconst pdfConfig = `---\npdf_options:\n  margin:\n    top: 0\n    right: 0\n    bottom: 0\n    left: 0\n  format: A4\n  printBackground: true\n---\n\n`;\n\nconst banner = `<div style=\"background:#000000; padding:28px 32px 22px; font-family:Arial,Helvetica,sans-serif;\">\n<p style=\"font-size:11px; font-weight:700; letter-spacing:3px; text-transform:uppercase; color:#263faf; margin:0 0 6px 0;\">CRASAS · CBHS 2976A</p>\n<h1 style=\"font-size:26px; font-weight:700; color:#ffffff; line-height:1.1; margin:0 0 4px 0;\">VEX V5 Override — Intelligence Report</h1>\n<div style=\"width:40px; height:3px; background:#263faf; margin:10px 0;\"></div>\n<p style=\"font-size:14px; color:#888888; margin:0 0 2px 0;\">Week of ${weekOf}</p>\n<p style=\"font-size:11px; color:#444444; margin:8px 0 0 0;\">Generated by CBHS Robotics CRASAS · Christchurch Boys' High School</p>\n</div>\n\n`;\n\nconst tocHTML = `<div style=\"background:#111111; padding:16px 32px; border-left:3px solid #263faf; font-family:Arial,Helvetica,sans-serif;\">\n<p style=\"font-size:10px; font-weight:700; letter-spacing:2px; text-transform:uppercase; color:#555555; margin:0 0 8px 0;\">Contents</p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">01</span><a href=\"#executive-summary\" style=\"color:#cccccc; text-decoration:none;\">Executive Summary</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">02</span><a href=\"#mechanism-analysis\" style=\"color:#cccccc; text-decoration:none;\">Mechanism Analysis</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">03</span><a href=\"#autonomous-routine-trends\" style=\"color:#cccccc; text-decoration:none;\">Autonomous Routine Trends</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">04</span><a href=\"#driver-control-tactics\" style=\"color:#cccccc; text-decoration:none;\">Driver Control Tactics</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">05</span><a href=\"#high-value-teams-and-channels\" style=\"color:#cccccc; text-decoration:none;\">High-Value Teams and Channels</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">06</span><a href=\"#novelty-flags\" style=\"color:#cccccc; text-decoration:none;\">Novelty Flags</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">07</span><a href=\"#recommended-watch-list\" style=\"color:#cccccc; text-decoration:none;\">Recommended Watch List</a></p>\n<p style=\"font-size:13px; color:#cccccc; margin:3px 0;\"><span style=\"font-size:11px; font-weight:700; color:#263faf; margin-right:8px;\">08</span><a href=\"#meta-trajectory\" style=\"color:#cccccc; text-decoration:none;\">Meta Trajectory</a></p>\n</div>\n\n<div style=\"padding: 24px 32px; font-family: Arial, Helvetica, sans-serif;\">\n\n`;\n\nconst bodyWithoutToc = report.replace(/##\\s*Contents[\\s\\S]*?(?=\\n##\\s)/i, '');\nconst cleanedBody = bodyWithoutToc.replace(/^(#{1,3})\\s+\\d+\\.\\s+/gm, '$1 ');\n\nreturn [{\n  json: {\n    report: pdfConfig + banner + tocHTML + cleanedBody + '\\n\\n</div>',\n    weekOf,\n    filename: `CRASAS_REPORT--${weekOf}.md`\n  }\n}];"
      },
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        320
      ],
      "id": "d3caf295-d5d4-4637-9969-948520d820c6"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst os = require('os');\nconst path = require('path');\nconst { execSync } = require('child_process');\n\n// TODO: Change this path to the directory where you want the final report saved\nconst reportsDir = 'YOUR/SAVE/DIRECTORY/PATH';\nif (!fs.existsSync(reportsDir)) fs.mkdirSync(reportsDir, { recursive: true });\n\nconst { report, filename } = $input.item.json;\nconst mdPath = path.join(reportsDir, filename);\nconst pdfPath = mdPath.replace(/\\.md$/, '.pdf');\n\n//Save markdown\nfs.writeFileSync(mdPath, report, 'utf8');\n\n//Convert to PDF\nlet pdfSaved = false;\nlet pdfError = null;\ntry {\n  execSync(`md-to-pdf \"${mdPath}\"`, { timeout: 30000 });\n  pdfSaved = true;\n} catch (e) {\n  pdfError = e.message.slice(0, 200);\n}\n\nreturn [{\n  json: {\n    saved: true,\n    mdPath,\n    pdfPath: pdfSaved ? pdfPath : null,\n    pdfSaved,\n    pdfError,\n    message: pdfSaved\n      ? `MD and PDF saved to ${reportsDir}`\n      : `MD saved, PDF failed: ${pdfError}`\n  }\n}];"
      },
      "name": "Save Report Locally",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        320
      ],
      "id": "700aa79e-631b-4cd9-b8dd-7a8fe914ddc9"
    },
    {
      "parameters": {
        "jsCode": "const allVideos = $input.all().map(i => i.json);\nallVideos.sort((a, b) => b.viewCount - a.viewCount);\n\nconst d = new Date();\nconst day = String(d.getDate()).padStart(2, '0');\nconst month = String(d.getMonth() + 1).padStart(2, '0');\nconst year = String(d.getFullYear()).slice(-2);\n\nconst videoList = allVideos.map((v, idx) => {\n  const dur = v.duration.replace('PT','').replace('H',' hr ').replace('M',' min ').replace('S',' sec');\n  return `[${idx + 1}] \"${v.title}\" [VIDEO_ID: ${v.videoId}]\\n` +\n         `    Channel: ${v.channelTitle} | Views: ${v.viewCount.toLocaleString()} | Duration: ${dur}\\n` +\n         `    Published: ${v.publishedAt}\\n` +\n         `    Description: ${v.description}\\n` +\n         `    Vision Analysis: ${v.visionCaption || 'Not analysed'}\\n`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    videoCount: allVideos.length,\n    //Change date format here from DD/MM/YY to others\n    weekOf: `${day}-${month}-${year}`,\n    videoList\n  }\n}];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        320
      ],
      "id": "f55be051-2e25-4651-9ec5-25771cf13d0f"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "YouTube Search – VEX V5",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Search – VEX Competition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search – VEX V5": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search – VEX Competition": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Search Results": {
      "main": [
        [
          {
            "node": "Flatten & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten & Deduplicate": {
      "main": [
        [
          {
            "node": "Fetch Video Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Video Stats": {
      "main": [
        [
          {
            "node": "Merge Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Stats": {
      "main": [
        [
          {
            "node": "Gemini Vision Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision Caption": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt and Summary": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Save Report Locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Prompt and Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7bf4d8ed-e059-44aa-a281-ed3a2c48b1c1",
  "meta": {
    "instanceId": "1a69bb1556865eb2e0701ecafdfa57d6b43cf791a76239fb0e5a929b7b51a223"
  },
  "nodeGroups": [],
  "id": "WAZ2E2hQnMz66eS0",
  "tags": []
}
